body {
  background:url("../img/fond.jpg") no-repeat;
  background-size: cover;
}


.topnav {
    background-color: #BFFF00;
    overflow: hidden;
}

/
.topnav a {
    float: right;
    color: #black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    image-orientation: left;}
    img {
    float: none;
}
